/f1 filter=lfs diff=lfs merge=lfs -text
/f2 filter=lfs diff=lfs merge=lfs -text
/f22 filter=lfs diff=lfs merge=lfs -text
/file1 filter=lfs diff=lfs merge=lfs -text
/file2 filter=lfs diff=lfs merge=lfs -text
/file3 filter=lfs diff=lfs merge=lfs -text
/file4 filter=lfs diff=lfs merge=lfs -text
/file5 filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
/t1 filter=lfs diff=lfs merge=lfs -text
/t2 filter=lfs diff=lfs merge=lfs -text
/t3 filter=lfs diff=lfs merge=lfs -text
/largefile filter=lfs diff=lfs merge=lfs -text
